# Build
build
tmp

# Ignore example directory this is currenlty used for testing
# Will update to contain well documented minimal example at some point.
example
wispy-core
# Logs
logs
*.log

# Env
.env

# Tests
*.test.exe
__debug_*.exe

# Debugging



# Other
# .vscode
.DS_Store
./codebook.toml
