# Build
build
tmp

# Ignore example directory this is currently used for testing
# Will update to contain well documented minimal example at some point.
data/sites
data/static
wispy-core

# Logs
logs
*.log

# Env
.env

# Tests
*.test.exe
__debug_*.exe

# Debugging
*.debug.log
*.trace.log

# Databases
*.db

# Other
# .vscode
.DS_Store
./codebook.toml
