<style>
    html,
    body {
        height: 100%;
        background-color: var(--color-body);
    }

    .dots-background {
        height: 100%;
        --dot-bg: var(--color-body);
        --dot-color: color-mix(in oklab, var(--color-base-content) 30%, transparent 0%);
        --dot-size: 1px;
        --dot-space: 1.5rem;
        background:
            linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            var(--dot-color);
    }
</style>
<body class="min-h-screen text-base-content" data-theme="robot-green">
    <!-- Main Content -->
    <main class="p-6">
    {{ block "body" . }} <p> Could not load page body.</p> {{ end }}
    </main>
    <!-- Footer -->
    {{ block "footer" . }}
        <footer class="footer footer-center p-4 text-base-content">
            <div>
                <p>&copy; 2025 WISPBERRY TECHNOLOGIES INC. All rights reserved.</p>
            </div>
        </footer>
    {{ end}}
</body>

