{{ define "body" }}

<section class="hero py-14">
  <!-- LOGO  -->
  {{ template "atoms/svg-logo" . }}
  <!-- Hero Content -->
  <div class="text-center max-w-md flex flex-col items-center mx-auto gap-3">

    <div>
      <h1 class="text-5xl font-bold">Welcome to test</h1>
      <h4 class="text-xl  py-2">Get started with your new site.</h4>
    </div>
      
    <!-- Email Collection Form -->
    <div class="join">
      <div>
        <label class="input validator join-item">
          <svg class="h-6 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </g>
          </svg>
          <input type="email" placeholder="e.g. stargirl@gmail.com" required />
        </label>
        <div class="validator-hint hidden">Enter valid email address</div>
      </div>
      <button class="btn btn-primary join-item">Get Notified!</button>
    </div>

    <!-- <div class="divider"></div> -->

    <!--
      <h2 class="text-3xl font-semibold mt-10">Getting Started</h2>
      <ul class="list-disc list-inside mt-4">
        <li>Edit this page in the content/_index.md file</li>
        <li>Create new pages in the content/ directory</li>
        <li>Customize the design in the design/ directory</li>
      </ul>
    -->
    </div>
  </div>
</section>

{{ end }}