  :root:has(input.theme-controller[value=robo-green]:checked),
  [data-theme=robo-green] {
    color-scheme: dark;
    --color-base-100: oklch(20% 0 0);
    --color-base-200: oklch(14% 0 0);
    --color-base-300: oklch(43% 0 0);
    --color-base-content: oklch(87.609% 0 0);
    --color-primary: oklch(84% 0.238 128.85);
    --color-primary-content: oklch(21% 0.006 56.043);
    --color-secondary: oklch(44% 0.119 151.328);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(35% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(35% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(82% 0.111 230.318);
    --color-info-content: oklch(21% 0.006 56.043);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(21% 0.006 56.043);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(21% 0.006 56.043);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(21% 0.006 56.043);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.21875rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
  }