/* Pale Wisp Theme - Light theme for Wispy Core */
:root {
  color-scheme: light;
  --color-body: oklch(100% 0 0);
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(14% 0 0);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(69% 0.17 162.48);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
[data-theme=pale-wisp]{
  color-scheme: "dark";
  --color-body: oklch(0% 0 0);
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(84% 0.238 128.85);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(39% 0.095 152.535);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(26% 0 0);
  --color-accent-content: oklch(98% 0.031 120.757);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(38% 0.063 188.416);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}